.card,
.accordion,
.popover {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
.shadowed > * {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 575px) {
  .fs-7-auto {
    font-size: 0.8em;
  }
}

html:not(.dark) #darkmode-btn {
  font-size: 1.25em;
}
#darkmode-btn {
  width: 40px;
  height: 40px;
  padding: 0;
}

.products-carousel {
  aspect-ratio: 31/9;
}
.products-carousel img {
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .products-carousel {
    aspect-ratio: 16/9;
  }
  .products-recommend .product {
    min-width: 150px;
    max-width: 150px;
  }
}

.products-recommend {
  overflow: auto;
}
.products-recommend .product {
  min-width: 200px;
  max-width: 200px;
}

#navbar {
  top: 0.5rem;
  background: rgba(220, 220, 220, 0.75) !important;
  backdrop-filter: blur(10px);
}
html.dark #navbar {
  background: rgba(25, 25, 25, 0.75) !important;
}

html.dark .offcanvas-lg {
  background-color: #222;
}
