.filter-accordion {
  --bs-accordion-border-color: var(--bs-border-color-translucent);
}
.filter-accordion .accordion-item {
  overflow: hidden;
  max-width: 250px;
}
.filter-accordion .checked .accordion-button {
  color: var(--bs-accordion-active-color) !important;
  background-color: var(--bs-accordion-active-bg) !important;
}
.filter-accordion .accordion-button {
  color: var(--bs-accordion-btn-color) !important;
  background-color: var(--bs-accordion-btn-bg) !important;
}
