.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-height: calc(1.5em + 0.5rem + 2px);
}

.up,
.down {
  height: 15px;
  width: 15px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 0.1rem;
}
.up,
.down:active:not(:disabled) {
  background: linear-gradient(0deg, grey, #ced4da);
}
.down,
.up:active:not(:disabled) {
  background: linear-gradient(180deg, grey, #ced4da);
}

.up:disabled,
.down:disabled {
  background: lightgrey;
}

.up::before {
  content: "▲";
}
.down::before {
  content: "▼";
}
